{% extends "::layout.html.twig" %}

{% block title %}
    Supprimer une catégorie - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container thumbnail form-container">
        <h3 class="text-center">Supprimer un groupe de figures</h3>
        <br>
        <p>
            Etes-vous certain de vouloir supprimer le groupe "{{ group.name|upper }}"?
        </p>
        <br>
        <form action="{{ path('delete_category', {'id': group.id}) }}" method="post">
            <a href="{{ path('home') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Retour à l'accueil
            </a>
            <input type="submit" class="btn btn-danger" value="Supprimer">

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}