{% extends '::layout.html.twig' %}

{% block title %}
    Supprimer un trick - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container thumbnail form-container">
        <h3 class="text-center">Supprimer un Trick</h3>
        <hr>
        <p>
            Etes-vous certain de vouloir supprimer le trick "{{ trick.title|upper }}"?
        </p>
        <br>
        <form action="{{ path('delete', {'slug': trick.slug}) }}" method="post">
            <a href="{{ path('trick', {'slug': trick.slug}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Retour au trick
            </a>
            <input type="submit" class="btn btn-danger" value="Supprimer">

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}
