{% extends "::layout.html.twig" %}

{% block body %}
    {% for message in app.session.flashbag.get('message') %}
        <div class="text-center flash-msg">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="container">
        <div class="thumbnail tricks-list-container col-md-9">
            <h2 class="text-center">{{ group.name }}</h2>
            <br>
            {% for trick in listTricks %}
                <div class="col-md-4">
                    <a href="{{ path('trick', {'slug': trick.slug}) }}">
                        <div class="thumbnail" style="
                        {% if trick.level == 'easy' %}
                                background-color: #B0F2B6 !important;
                        {% elseif trick.level == 'medium' %}
                                background-color: #E2BC74 !important;
                        {% else %}
                                background-color: #F08080 !important;
                        {% endif %}
                                ">
                            <h4>{{ trick.title|upper }}</h4>
                            par {{ trick.author }}
                            le {{ trick.creation_date|date('d/m/Y') }}
                            <hr>
                            {#{% if trick.medias is not null %}#}
                            {#<img src="{{ asset(trick.medias.webPath) }}"#}
                            {#alt="{{ trick.medias.alt }}">#}
                            {#{% endif %}#}
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="thumbnail">
                    Pas d'annonces
                </div>
            {% endfor %}
        </div>
        <div class="thumbnail col-md-3 tricks-list-container">
            <h4 class="text-center">Groupes de figures</h4>
            <ul>
                {% for category in listCategories %}
                    <li><a href="{{ path('group', {'id': category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
