{% extends "::layout.html.twig" %}

{% block body %}
    {% for message in app.session.flashbag.get('message') %}
        <div class="text-center flash-msg">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="container home-container">
        <div class="thumbnail tricks-list-container col-md-9">
            <h2 class="text-center">{{ group.name }}</h2>
            <br>
            {% for trick in listTricks %}
                <div class="col-md-4">
                    <a href="{{ path('trick', {'slug': trick.slug}) }}">
                        <div class="thumbnail">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div class="text-right">
                                    <a href="{{ path('edit', {'slug': trick.slug}) }}" class="btn btn-default btn-circle"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="{{ path('delete', {'slug': trick.slug}) }}" class="btn btn-danger btn-circle"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </div>
                            {% endif %}
                            <a href="{{ path('trick', {'slug': trick.slug}) }}">
                                {% for image in trick.images %}
                                    {% if loop.first %}
                                        <img class="img-responsive" style="height: 200px;" src="{{ asset(image.webPath) }}" alt="{{ image.alt }}">
                                        <br>
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('img/default-pic.jpg') }}" alt="image par défaut" style="height: 200px;">
                                    <br>
                                {% endfor %}
                                <h4 class="text-center trick-title">{{ trick.title|upper }}</h4>
                            </a>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="thumbnail">
                    Pas de figure correspondat à ce groupe
                </div>
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="thumbnail col-md-2 tricks-list-container categories">
            <h4 class="text-center">Groupes de figures</h4>
            <ul>
                {% for category in listCategories %}
                    <li><a href="{{ path('group', {'slug': category.slug}) }}">{{ category.name }}</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
