{% extends "::layout.html.twig" %}

{% block body %}
    {% for message in app.session.flashbag.get('message') %}
        <div class="text-center flash-msg">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><b>Bienvenue sur SnowTricks!</b></h1>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- headerwrap -->

    <div class="container thumbnail tricks-list-container">
        <h2 class="text-center">Tous les Tricks</h2>
        <br>
        {% for trick in listTricks %}
            <div class="col-md-4">
                <a href="{{ path('trick', {'id': trick.id}) }}">
                    <div class="thumbnail">
                        <h4>{{ trick.title|upper }}</h4>
                        par {{ trick.author }}
                        le {{ trick.creationDate|date('d/m/Y') }}
                        <hr>
                        {#{% if trick.medias is not null %}#}
                        {#<img src="{{ asset(trick.medias.webPath) }}"#}
                        {#alt="{{ trick.medias.alt }}">#}
                        {#{% endif %}#}
                    </div>
                </a>
            </div>
        {% else %}
            <div class="thumbnail">
                Pas d'annonces
            </div>
        {% endfor %}
        <div class="col-xs-12 text-center">
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li {% if p == page %}class="active"{% endif %}>
                        <a href="{{ path('home', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
