{% extends '::layout.html.twig' %}

{% block body %}
    {#{% if app.session.flashbag.get('comment-msg') is defined %}#}
        {#<script language="javascript">#}
            {#$(window).load(function() {#}
                {#$("html, body").animate({ scrollTop: $("#comments").offset().top-50 }, 500);#}
            {#});#}
        {#</script>#}
    {#{% endif %}#}

    <div class="thumbnail container">
        <a href="{{ path('home') }}" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Retour à l'Accueil
        </a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="text-right">
                <a href="{{ path('edit', {'slug': trick.slug}) }}" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="{{ path('delete', {'slug': trick.slug}) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        {% endif %}
        <h2 class="text-center trick-title">{{ trick.title }}</h2>
        <p class="text-right">
            par {{ trick.author }}
        </p>
        <div>
            <b>Groupe de la figure: <a href="{{ path('group', {'slug': trick.category.slug}) }}">{{ trick.category.name }}</a></b>
            <p>Niveau de difficulté:    {% if trick.level == 'easy' %} <b class="level easy">Facile</b>
                                        {% elseif trick.level == 'medium' %} <b class="level medium">Moyen</b>
                                        {% else %} <b class="level hard">Difficile</b>
                                        {% endif %}</p>
        </div>
        {% for image in trick.images %}
            <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" class="img-responsive">
            <br>
        {% endfor %}
        <hr>
        <div>
            {{ trick.description|raw }}
        </div>
    </div>

    {% for message in app.session.flashbag.get('comment-msg') %}
        <div id="flash-msg">
            <div class="text-center flash-msg">
                <p>{{ message }}</p>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                setTimeout(function(){$("#flash-msg").fadeOut(2000);}, 3000);
            });
        </script>
    {% endfor %}

    <div class="container thumbnail" id="comments">
        <h3 class="text-center">
            Espace de discussion
        </h3>
        <hr>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group row">
                {{ form_label(form.message, "Votre commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.message) }}
                <div class="col-sm-10">
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            <hr>
        {% endif %}

        {% for comment in listComments %}
            <div class="comment thumbnail row">
                <div class="col-sm-2">
                    {% if comment.author.image is null %}
                        <img style="height: 70px" src="{{ asset('img/default-user.png') }}" alt="photo de profil par défaut">
                    {% else %}
                        <img style="height: 70px" src="{{ asset(comment.author.image.webPath) }}" alt="{{ comment.author.image.alt }}">
                    {% endif %}
                </div>
                <div class="col-sm-10 talkbubble">
                    <b>Commentaire de {{ comment.author.firstname }} {{ comment.author.lastname }} ({{ comment.author.username }})</b>, posté le {{ comment.creationDate|date('d/m/Y à H\\hi\\m\\i\\n') }}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('delete_comment', {'id': comment.id}) }}" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% endif %}
                    <hr>
                    {{ comment.message }}
                </div>
            </div>
        {% else %}
            <div class="thumbnail">
                Pas de commentaire
            </div>
        {% endfor %}
        <div class="text-center">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('trick', {'slug': trick.slug, 'page': page-1}) }}">Précédent</a></li>
                {% endif %}
                {% for p in range(1, nbPages) %}
                    <li {% if p == page %}class="active"{% endif %}>
                        <a href="{{ path('trick', {'slug': trick.slug, 'page': p}) }}" style="{%  if p == 0 %}display: none;{% endif %}">{{ p }}</a>
                    </li>
                {% endfor %}
                {% if page < nbPages and page >= 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('trick', {'slug': trick.slug, 'page': page+1}) }}">Suivant</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}