{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4">
        <h4>Pas encore inscrit?</h4>
        <em>
            Nous vous invitons à vous inscrire pour partager vos figures avec nous!
        </em>
        <br><hr>
        <em>
            Si vous êtes déjà inscrit, vous pouvez vous connecter.
        </em>
        <br><br>
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Connexion</a>
        <br>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h3 class="text-center">Inscription</h3>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form) }}
        <div class="form-group row">
            {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.username) }}
            <div class="col-sm-10">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <br>
        <div class="form-group row">
            {{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <br>
        <div class="form-group row">
            {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.firstname) }}
            <div class="col-sm-10">
                {{ form_widget(form.firstname) }}
            </div>
        </div>
        <br>
        <div class="form-group row">
            {{ form_label(form.lastname, "Nom de famille", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.lastname) }}
            <div class="col-sm-10">
                {{ form_widget(form.lastname) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.plainPassword.first) }}
            <div class="col-sm-10">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.plainPassword.second, "Répétez le mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.plainPassword.second) }}
            <div class="col-sm-9">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_rest(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
